@model TrabajoUnidadI_TiconaCatalan.Models.CATEGORIAS
@{
    ViewBag.Title = (Model.IDCATEGORIA > 0 ? Model.NOMBRECATEGORIA : "Nuevo registro");
}

<h2>Agregar | Editar</h2>

@using (Html.BeginForm("Guardar", "Sorteo", FormMethod.Post, new { @id = "frm-persona" }))
{
    @Html.HiddenFor(x=>x.IDCATEGORIA)
    <div class="panel panel-default">
        <div class="panel-heading">Informacion de la Categoria</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Nombre Categoria:")
                @Html.TextBoxFor(x => x.NOMBRECATEGORIA, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.NOMBRECATEGORIA, null, new { @class = "label label-danger" })
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Sorteo" class="btn btn-danger">Cancelar</a>
    </div>
}