@model List<TrabajoUnidadI_TiconaCatalan.Models.CATEGORIAS>
@{

}


<h2 class="page-header">
    Categoria
</h2>
<div class="text-right">
    <a href="~/Sorteo/AgregarEditar/"
       class="btn btn-success pull-rigth">Nueva Categoria</a>
</div>
    

<table class="table">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:100px">Nombre</th>
            <th style="width:250px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <th>@(m.IDCATEGORIA)</th>
                <th>@(m.NOMBRECATEGORIA)</th>
                <th style="align-content:center">
                    <a href="~/Sorteo/AgregarEditar/@m.IDCATEGORIA" class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/Sorteo/Eliminar/@m.IDCATEGORIA" class="btn btn-xs btn-danger"
                       onclick="return confirm('¿Esta Seguro que desea eliminar el registro?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>