@model List<TrabajoUnidadI_TiconaCatalan.Models.CATEGORIAS>
@{

}

<h2 class="page-header">
    <a href="~/Sorteo/AgregarEditar/"
       class="btn btn-default pull-rigth">Nueva Categoria</a>
    Sorteo
</h2>
@using (Html.BeginForm("Index", "Sorteo", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="text-left">
        @Html.Label("Buscar: ")
        @Html.TextBox("Criterio")
        <button type="submit" class="btn btn-info">Buscar</button>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:100px">Nombre</th>
            <th style="width:250px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <th>@(m.IDCATEGORIA)</th>
                <th>@(m.NOMBRECATEGORIA)</th>
                <th style="align-content:center">
                    <a href="~/Persona/Ver/@m.IDCATEGORIA" class="btn btn-xs btn-warning">Detalle</a>
                    <a href="~/Persona/AgregarEditar/@m.IDCATEGORIA" class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/Persona/Eliminar/@m.IDCATEGORIA" class="btn btn-xs btn-danger"
                       onclick="return confirm('¿Esta Seguro que desea eliminar el registro?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>