
@{
    //Layout = null;
}
<table style="width:100%">
    <tr>
        <th><label class="h4">¿Desea un aumento de sueldo?</label></th>
    </tr>
    <tr>
        <td><input type="button" ID="Boton" STYLE="position:absolute ;width:70px" VALUE="Si" onclick="alert('Eligio la opción SI')" class="btn btn-lg btn-primary" /></td>
        <td><input type="button" ID="" STYLE="position:absolute ;width:70px" VALUE="No" onclick="alert('Eligio la opción NO')" class="btn btn-lg btn-primary" /></td>
    </tr>
</table>