@model TrabajoUnidadI_TiconaCatalan.Models.CATEGORIAS
@{
    ViewBag.Title = "AgregarCategoria";
}

<h2>Agregar Categoria</h2>

@using (Html.BeginForm("AgregarCategoria", "Home", FormMethod.Post))
{
    @Html.TextBox("valor")

    <input type="submit" value="Agregar" />
}
