@using TrabajoUnidadI_TiconaCatalan.Models
@model IEnumerable<TrabajoUnidadI_TiconaCatalan.Models.CATEGORIAS>
@{
    ViewBag.Title = "ListarCategorias";
    int cont = 1;
}

<h2>Listar Categorias</h2>

<div class="row">
    <div class="">
        <div class="clearfix"></div>
        <a href="~/Home/AgregarCategoria">Agregar</a>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Categoria</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@cont</td>
                        <td>@item.NOMBRECATEGORIA</td>
                        <td><a href="~/Home/EditarCategoria/@cont">Editar</a></td>
                    </tr>
                        cont++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>