
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC</title>
    <!--Boostrap-->
    <link href="~/Assets/css/bootstrap4-hello-world.min.css" rel="stylesheet" />

    <link href="~/Assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />



    <!--Jquery-->
    <script src="~/Assets/js/jquery-3.1.1.min.js"></script>


</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li><a class="navbar-brand t-h5" href="#">EJERCICIOS PROPUESTOS MVC</a></li>
                        <li class="nav-item dropdown t-h5">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                EJERCICIOS 1-6
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item t-h5" href="#">Ejercicio 1</a>
                                <a class="dropdown-item t-h5" href="~/Ejercicio2/CalcularNumeros">Ejercicio 2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item t-h5" href="~/Ejercicio3/CalcPosiciones">Ejercicio 3</a>
                                <a class="dropdown-item t-h5" href="~/Ejercicio4/Index">Ejercicio 4</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item t-h5" href="~/Ejercicio5/CalcularPension">Ejercicio 5</a>
                                <a class="dropdown-item t-h5" href="~/Ejercicio6/Calcular">Ejercicio 6</a>
                            </div>

                        </li>
                        <li class="nav-item dropdown t-h5">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                EJERCICIOS 7-12
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item t-h5" href="~/Ejercicio7/Dibujar">Ejercicio 7</a>
                                <a class="dropdown-item t-h5" href="~/Ejercicio8/Index">Ejercicio 8</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item t-h5" href="~/Ejercicio9/CalcularBilletes">Ejercicio 9</a>
                                <a class="dropdown-item t-h5" href="~/Ejercicio10/Dibujar">Ejercicio 10</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item t-h5" href="~/Ejercicio11/CalcularUllman">Ejercicio 11</a>
                                <a class="dropdown-item t-h5" href="#">Ejercicio 12</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            @*<h1 class="jumbotron"> Ejercicios Propuestos MVC</h1>*@
            @RenderBody()
        </div>

        <script src="~/Assets/js/bootstrap.min.js"></script>
    </div>

    
</body>
</html>
