
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reverse</title>
</head>
<body>
    <h1>Listar Meses en Reversa</h1>
    <br />
    @Html.TextAreaFor(m => ViewData["Result"], new { rows = "20", cols = "10" })
    <div> 
    </div>
</body>
</html>
